fastapi
uvicorn[standard]
pydantic
youtube-transcript-api
tiktoken
numpy==1.26.4

torch==2.2.2
transformers==4.38.2
sentence-transformers==2.6.1

chromadb
groq==0.11.0
httpx==0.27.2
python-dotenv
yt-dlp