fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
groq==0.11.0
youtube-transcript-api==0.6.3
yt-dlp==2024.9.27
tiktoken==0.8.0
sentence-transformers==3.1.1
chromadb==0.5.15
torch==2.2.2+cpu
torchvision==0.17.2+cpu